/* Estilos para la pantalla de introducción */
#introScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    z-index: 1000;
}

#startBtn {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #f5e60c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#startBtn:hover {
    background-color: #ff9900;
    transform: scale(1.05);
}

/* Estilos generales del contenido principal */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#siBtn {
    background-color: #4CAF50;
    color: white;
}

#noBtn {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

#mainContent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: rgb(160, 72, 189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#messageContainer {
    color: #FF0000;
    font-family: 'YourDesiredFont', sans-serif;
    text-shadow: 2px 2px 4px #000;
    animation: pulse 0.5s infinite alternate;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    font-size: 4rem;
    padding-top: 10%;
}

#messageContainer.show {
    opacity: 1;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    #introScreen {
        font-size: 1.5rem;
    }

    #startBtn {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

    button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

    #mainContent {
        font-size: 1.5rem;
    }

    #messageContainer {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    #introScreen {
        font-size: 1rem;
    }

    #startBtn {
        font-size: 1rem;
        padding: 6px 12px;
    }

    button {
        font-size: 1rem;
        padding: 6px 12px;
    }

    #mainContent {
        font-size: 1.2rem;
    }

    #messageContainer {
        font-size: 2rem;
    }
}

