/* Estilos para la pantalla de introducción */
#introScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    z-index: 1000;
}

#startBtn {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #f5e60c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#startBtn:hover {
    background-color: #ff9900;
    transform: scale(1.05);
}

/* Estilos generales del contenido principal */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#siBtn {
    background-color: #4CAF50;
    color: white;
}

#noBtn {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

#mainContent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    
    /* Capa de color para suavizar el fondo */
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(5px); /* Desenfoque ligero */

    color: rgb(160, 72, 189); /* Color de texto más claro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
    /* Efecto de sombra para mejorar la visibilidad del texto */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    
    z-index: 1000;
}


#messageContainer {
    color: #FF0000; /* Color rojo */
    font-family: 'YourDesiredFont', sans-serif; /* Reemplaza 'YourDesiredFont' con la fuente que desees */
    text-shadow: 2px 2px 4px #000; /* Borde simulado */
    animation: pulse 0.5s infinite alternate; /* Animación de palpitación más rápida */
    width: 100vw; /* El ancho ocupa toda la pantalla */
    height: 100vh; /* La altura ocupa toda la pantalla */
    justify-content: center; /* Alineación horizontal en el centro */
    align-items: center; /* Alineación vertical en el centro */
    font-size: 4rem;
    padding-top: 10%;
}


#messageContainer.show {
    opacity: 1;
}